.header {
  max-width: 1100px;
  margin: 10px auto 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-blue);
  color: white;
  padding: 20px;
  border-radius: 22px;
}
.header h1 {
}
.header button {
  border: 1.5px solid white;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: var(--tran);
}
.header button:hover {
  background: white;
  color: var(--bg-blue);
}
.footer {
  width: 100%;
  background-color: rgb(217, 217, 217);
text-align: center;
color: grey;
padding: 10px 0;
margin-top: 50px;
}
.container{
    min-height: 1000px;
    max-width: 1100px;
    margin: 0 auto;
}